.containerDetailProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-self: center;
    padding: 24px;

}

.containerDetailProduct .detailProductInfo h2 {
    font-size: 40px;
    font-weight: 900;
}

.containerDetailProduct .detailProductInfo p {
    margin-bottom: 0;
    font-weight: 600;
}



.containerDetailProduct .detailProductInfo .detailProductCant {
    display: flex;
    width: 400px;
    gap: 12px;
    flex-direction: row;
    align-self: center;
    background-color: rgb(231, 229, 229);
    border-radius: 16px;
    margin-top: 20px;
    padding: 12px;
}

.containerDetailProduct .detailProductInfo .detailProductOpciones {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 24px;
}

.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesBuyNow,
.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesAddToCart {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesBuyNow {
    background: linear-gradient(to bottom, #1b74d4 , #033469 );

}
.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesBuyNow:hover {
    background: linear-gradient(to bottom, #2183ec , #054f9e );

}

.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesBuyNow a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesAddToCart {
    border: 1px solid #1b74d4;

}
.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesAddToCart a:hover{
    background: linear-gradient(to bottom, #2183ec , #054f9e );
    color: white;
    border-radius: 24px;
}

.containerDetailProduct .detailProductInfo .detailProductOpciones .detailProductOpcionesAddToCart a {
    color: #1b74d4;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

