.containerHeader {
    width: 100%;
    height: calc(100vh - 70px - 32px - 32px);
    display: flex;
    justify-content: center;
    display: flex;

}

.containerChildHeader {
    width: 90%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    gap: 16px; /* Added gap for spacing between children */
}

.containerImgHeader {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImgHeader img {
    max-width: 100%; /* Ensure image fits within its container */
    height: auto;
    border: 1px solid #009FE3;
    border-radius: 12px;
    box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
}

.context {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
}

.context .title {
    text-align: center;
}

.context .title h1 {
    font-size: 4vw; /* Responsive font size */
    color: #009FE3;
    font-weight: 800;
}

.context .title h3 {
    font-size: 2vw; /* Responsive font size */
    color: #009FE3;
    font-weight: 600;
    margin-top: -16px;
}

.context .text {
    font-size: 1.5vw; /* Responsive font size */
    text-align: left;
    margin: 0 12px;
    color: #009FE3;
    font-weight: 500;
}

.context .button {
    display: flex;
    justify-content: center;
}

.context .button button {
    background-color: #009FE3;
    color: white;
    height: 65px;
    width: 86%;
    border: none;
    font-size: 2vw; /* Responsive font size */
    border-radius: 12px;
    box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 1324px) {
    .containerChildHeader {
        flex-direction: column;
        align-items: center; /* Center items in column layout */
    }

    .containerChildHeader>.context>.title {
        margin-bottom: 24px;
        height: auto;
        transform: translateY(18px);
    }

    .containerChildHeader>.context>.title>h3 {
        font-size: 22px;
        margin-top: -20px;
    }

    .context .title h1 {
        font-size: 6vw; /* Larger responsive font size */
    }

    .containerChildHeader>.context>.text {
        font-size: medium;
        text-align: left;
        margin-left: 50px;
        margin-right: 12px;
        height: auto;
    }

    .containerChildHeader>.context>.button {
        height: 25%;
    }

    .context .button button {
        height: 60px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .containerChildHeader {
        top: 150px ;
        width: 100%;
        height: 100vh;
        margin-bottom: 20px ;
    }

    .containerImgHeader {
        width: 60vw;
    }

    .context {
        /* transform: translateY(-35px); */
        width: 100%;
        height: 100vh;
        padding: 3px;
    }

    .context .title h1 {
        font-size: 8vw; /* Larger responsive font size */
    }

    .context .title h3 {
        font-size: 4vw; /* Larger responsive font size */
    }

    .context .text {
        font-size: 3vw; /* Larger responsive font size */
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }

    .context .button button {
        width: 50%;
    }

    .context .button {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .containerHeader {
        width: 100%;
        height: auto;
        justify-content: center;
        display: flex;
    }

    .containerHeader>.containerChildHeader {
        width: 90%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .containerChildHeader>.containerImgHeader {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        text-align: center;
        align-self: center;
    }

    .containerChildHeader>.containerImgHeader>img {
        width: 100%;
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
        box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
        object-fit: cover;
    }

    .containerChildHeader>.context {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .containerChildHeader>.context>.title {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .containerChildHeader>.context>.title>h1 {
        font-size: 40px !important;
        color: #009FE3;
        font-weight: 800;
        width: inherit;
        margin-bottom: 20px;
    }

    .containerChildHeader>.context>.title>h3 {
        font-size: 22px;
        /* margin-top: -20px; */
    }

}