.containerNavbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 32px;
    margin-top: 32px;
    position: sticky;
    z-index: 9999;
}

.navbar {
    width: 90%;
    display: flex;
    align-self: center;
    border: 1px solid #009FE3;
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
    box-shadow: 5px 5px 0px 0px rgba(0, 131, 187, 1);
    background-color: white;
    height: 70px;

}

.menuBurguer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009FE3;
    color: white;
    width: 70px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #009FE3;
    padding: 0;
    margin: 0;
}



.allContainer {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.imgContainer>img {
    cursor: pointer;
}

/* Input Search */
.searchContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.inputSearch {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 30px;
    /* Ajusta este padding según la posición del icono y el padding-left del placeholder */
    border: 1px solid #009FE3;
    border-radius: 12px;
    text-align: start;
    /* Centra el texto horizontalmente */
    display: flex;
    align-items: center;
    color: gray;
    font-size: 18px;
    /* Centra el texto verticalmente */
    /* Deja espacio para el ícono */
}

.inputSearch::placeholder {
    color: gray;
    /* Cambia esto al color que prefieras */
    font-size: 18px;

}

.inputSearch:focus {
    border-color: #009FE3;
    /* Color de borde al hacer clic en el input */
    outline: none;
    /* Elimina el contorno predeterminado al hacer clic */
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* El ícono no interfiere con la interacción del usuario */
    color: #009FE3;
    font-size: 20px;

}



/* Input Search */
.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.optionsContainer>i {
    color: #009FE3;
    font-size: 30px;
    cursor: pointer;
}


/* Contenedor de categorías */
.allCategoriasContainer {
    width: 90%;
    background-color: rgb(34, 99, 156);
    height: 0;
    overflow: hidden;
    align-items: center;
    position: relative;
    align-self: center;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    border: 1px solid black;
    transition: height 0.5s ease;
    display: none;
}

/* Estado expandido */
.allCategoriasContainer.expanded {
    height: calc(100vh - 70px - 32px - 32px - 20px);
    display: flex;
}

/* Animación de entrada */
@keyframes slide-in-blurred-top {
    0% {
        transform: translateY(-70px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-top {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* Animación de salida (puedes definirla según tu necesidad) */
@keyframes slide-out-blurred-top {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-70px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }
}

.slide-out-blurred-top {
    animation: slide-out-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}





.allCategoriasContainer>.categorias {
    width: 25%;
    height: 100%;
    background-color: aqua;
    border-radius: inherit;
}

.allCategoriasContainer>.subcategorias {
    width: 25%;
    height: 100%;
    background-color: yellow;
    border-radius: inherit;
}

.allCategoriasContainer>.prodCatVisuales {
    width: 50%;
    height: 100%;
    background-color: saddlebrown;
    border-radius: inherit;
}

/* div categorias */