@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url('./assets/background/PatternBG.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Montserrat", sans-serif !important;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}




.NavLogin {
  width: 100vw;
  display: flex;
  background: linear-gradient(to bottom, #1b74d4, #033469);
}

.Footer {

  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #1b74d4, #033469);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1 0 45%;
  margin-right: 20px;
}

.footer-section {
  margin-bottom: 10px;
  /* Adjust spacing between sections */
}

.footer-copyright {
  flex-basis: 100%;
  /* Ensure copyright text spans full width */
  text-align: right;
  padding-top: 40px;
  /* Center-align copyright text */
}