.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .NavLogin {
    width: 100vw;
    display:flex;
  }

  .Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #1b74d4 , #033469 ); 
    color: white; 
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .footer-column {
    flex: 1 0 45%; 
    margin-right: 20px; 
  }
  
  .footer-section {
    margin-bottom: 10px; /* Adjust spacing between sections */
  }
  
  .footer-copyright {
    flex-basis: 100%; /* Ensure copyright text spans full width */
    text-align: right; 
    padding-top: 40px;/* Center-align copyright text */
  }
  